<ion-app>
  <ion-split-pane>
      <ion-menu contentId="content">
      
          <ion-header>
            <ion-toolbar color="primary" class="user-profile" *ngIf="userProfile" >
    
              <ion-item margin-bottom>
                <ion-avatar slot="start" class="user-avatar" *ngIf="img">
                  <img src="{{img}}">
                </ion-avatar>
                <ion-label>
                  <ion-text color="light">
                    <h1 ><strong>{{userProfile.u_name}} {{userProfile.u_lastname}}</strong></h1>
                  </ion-text>
                  <ion-menu-toggle class="mto" auto-hide="false">
                    <a class="text08" tappable (click)="goToEditProgile(userProfile.u_id)">
                      <ion-text color="light">
                        <!-- <ion-icon name="contact"></ion-icon> -->
                        <fa-icon icon="user-circle" size="lg"></fa-icon>
                         โปรไฟล์
                      </ion-text>
                    </a>
                     <ion-text color="primary"> | </ion-text> 
                    <a class="text08" tappable (click)="logout()">
                      <ion-text color="light">
                        <!-- <ion-icon name="log-out"></ion-icon>
                        ออกจากระบบ -->
                       <fa-icon icon="power-off" size="lg"></fa-icon>
                       ออกจากระบบ
                      </ion-text>
                    </a>
                  </ion-menu-toggle>
                </ion-label>
              </ion-item>
    
            </ion-toolbar>
          </ion-header>
    
          <ion-content class="bg-profile">
            <ion-list>
              <div *ngIf="user.role == 'ผู้ดูแลระบบ'">
              <!-- <ion-list-header color="dark">
                <ion-label>เมนู</ion-label>
              </ion-list-header> -->
              
             
              <ion-menu-toggle auto-hide="false"  *ngFor="let p of appPages" >
                <ion-item [routerLink]="[p.url]" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" color="primary" class="menus">
                  <!-- <ion-icon slot="start" [name]="p.icon" color="light" item-start></ion-icon> -->
                  <fa-icon [icon]="p.icon" size="lg" slot="start"></fa-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>

            </div>

            <div *ngIf="user.role == 'พนักงานหน้าร้าน'">
              <ion-menu-toggle auto-hide="false"  *ngFor="let p of appPagesShop" >
                <ion-item [routerLink]="[p.url]" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" color="primary" class="menus">
                  <!-- <ion-icon slot="start" [name]="p.icon" color="light" item-start></ion-icon> -->
                  <fa-icon [icon]="p.icon" size="lg" slot="start"></fa-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </div>

            <div *ngIf="user.role == 'พนักงานสต๊อก'">
              <ion-menu-toggle auto-hide="false"  *ngFor="let p of appPagesStock" >
                <ion-item [routerLink]="[p.url]" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" color="primary" class="menus">
                  <!-- <ion-icon slot="start" [name]="p.icon" color="light" item-start></ion-icon> -->
                  <fa-icon [icon]="p.icon" size="lg" slot="start"></fa-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </div>

    
            </ion-list>
    
            <div class="center">
                <ion-row justify-content> 
                    <ion-col size="12" >
                      <img src="assets/img/logo.png" width="135">
                    </ion-col>
                    
                  </ion-row>
                  <p>
                      <ion-label color="light">เวอร์ชัน {{version}}</ion-label>
                  </p>
                  
                  <ion-label color="light">© สงวนลิขสิทธิ์ 2019 บริษัท ฟาซิแคร์ จำกัด</ion-label>
            </div>
          </ion-content>
        </ion-menu>



    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
