<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button (click)="close()" clear icon-only>
                <ion-icon name="md-close"></ion-icon>
            </ion-button>
  
          </ion-buttons>
      <ion-title>
          รายละเอียด
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        
    <ion-row style="border-bottom: 1px solid #a1a1a1;background-color:#085dce;color: #fff">
        <ion-col col >
            <ion-label >จำนวนสินค้า<br>นำเข้า</ion-label>
          </ion-col>
        <ion-col col>
        <ion-label >สินค้าคงเหลือ</ion-label>
      </ion-col>
      <ion-col col>
        <ion-label >วันที่รับสินค้า</ion-label>
      </ion-col>
        <ion-col col>
        <ion-label >นำเข้าจาก</ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 1px solid #ddd;"  *ngFor="let items of resdata">
        <ion-col col >
        <ion-label >{{items.stk_qtyimport}}</ion-label>
      </ion-col>
      <ion-col col>
        <ion-label >{{items.stk_number}}</ion-label>
      </ion-col>
        <ion-col col>
        <ion-label >{{items.stk_receivingdate}}</ion-label>
      </ion-col>
      <ion-col col>
          <ion-label >{{items.importname}}</ion-label>
        </ion-col>
    </ion-row>
    

</ion-content>
