.img{
    // height: 85px; 
    float: left;
    margin-right: 20px;
    width: 85px

}

p{
    font-size: 12px !important;
}

ion-badge{
    font-size: 12px !important;
}

.itemnone p{
    text-align: center !important;
    font-size: 16px !important;
}