<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">จอง/เบิกสินค้า</ion-text>
        </ion-text>
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="ค้นหาสินค้า..."></ion-searchbar>
   
  </ion-toolbar>
</ion-header>

<ion-content padding-top >
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list >
    
    <div *ngIf="items?.length != 0 || items !=null">
    <ion-item  *ngFor="let item of items"  >
      <div item-start>
        <img src="{{item.img}}"   class="img" (click)="viewImage(item.img, item.name)">
      </div>
    
      <div >
        <label>
          {{ item.name }}
       </label> 
       <p class="p">
          SKU : {{item.sku}}<br>
         
       </p>
     
       <p>
          <ion-badge >สินค้าคงเหลือ : {{item.qtyall}}</ion-badge>
       </p>


        <!-- <p>
          <ion-badge >โกดังเล็ก : {{item.qty}}</ion-badge>
        </p> -->
        <!-- <p> 
        <ion-badge color="secondary">โกดังใหญ่ : {{item.qtybig}}</ion-badge>
        </p> -->
        <!-- <ion-button size="small" slot="end" color="secondary" (click)="alertLocation(item.p_id,'จองสินค้า',item.qnum)">จองสินค้า</ion-button> -->
        
      </div>
      <ion-button size="small" slot="end" color="primary" (click)="alertLocation(item.p_id,'เบิกสินค้า',item.qnum)">เบิกสินค้า</ion-button>
       
    </ion-item>
  </div>
    <div  *ngIf="items?.length == 0 || items==null" class="itemnone">
      <p style="color:red;">ไม่มีสินค้า</p>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
  </ion-list>
</ion-content>

